*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1b252f;
    position: relative;
    padding: 20px 0;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.pokemon-area{
    width: 70%;
    background-color: #405366;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 5px;
}

.pokemon-area .pokemon{
    background-color: #e4e1e1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s all;
    cursor: pointer;
}

.pokemon-area .pokemon:hover{
    transform: translateY(-15px);
    transition: .4s all;
}

.pokemon:hover::before{
    content: 'More Info';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    transition: .5s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.pokemon-area .pokemon .pokemon-image{
    width: 60%;
}

.pokemon-area .pokemon .pokemon-name{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.pokemon-area .pokemon .pokemon-powers{
    margin-bottom: 20px;
}
.pokemon-area .pokemon .pokemon-powers .power1{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-right: 6px;
    font-size: 18px;
}

.pokemon-area .pokemon .pokemon-powers .power2{
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}


/*MODAL INFO POKÉMONS*/
.modal-pokemon{
    position: fixed;
    padding: 200px 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%), 0 6px 20px 0 rgb(0 0 0 / 30%);
}

.modal-pokemon .modal-area{
    background-color: #FFF;
    position: relative;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-around;
}

.modal-pokemon .modal-area .info-pokemon .close-button{
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 80%), 0 6px 20px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-pokemon .modal-area .pokemon-name-image{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-pokemon .modal-area .pokemon-name-image .pokemon-name-modal{
    font-size: 20px;
    font-weight: bold;
}

.modal-pokemon .modal-area .pokemon-name-image .img-pokemon-modal{
    width: 100%;
} 

.modal-pokemon .modal-area .info-pokemon{
    width: 50%;
}

.modal-pokemon .modal-area .info-pokemon .details-pokemon{
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
}



/*MEDIA SCREEN*/
@media only screen and (max-width:1214px){
    .pokemon-area{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:628px){
    .pokemon-area{
        grid-template-columns: repeat(1, 1fr);
    }
}
